@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  width: 100%;
  height: 80px;
}

.logo {
  display: inline-block;
}

.navbar-text {
  float: right;
}
